/* styles.css */

body {
    font-family: Segoe UI, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #BC986A;
    color: #fffbfa;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    color: #8D8741;
    align-items: center;
    padding: 20px;
    background-color: #fffbfa;
  }
  
  header img {
    width: 80px;
  }
  
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header nav li {
    margin-left: 20px;
  }
  
  header nav a {
    color: #8D8741;
    text-decoration: none;
  }
  
  #hero img {
    max-width: 100%;
    display: block;
    margin: 50px auto;
    opacity: 0.65;
  }
  
  .two-columns {
    display: flex;
  }
  
  #projects {
    padding: 20px;
  }
  
  #skills {
    flex: 1;
    padding: 20px; 
  }
  
  #about {
    flex: 1; 
    padding: 20px;
  }
  
  footer {
    padding: 10px;
    text-align: center;
    background-color: #fffbfa;
    color: #8D8741;